body{
    margin: 0;
}

/* header */

header {
    width: 100%;
}
.headerContainer {
    background-image: url(images/bg.jpg);
    background-size: cover;
    display: flex;
    padding: 20px 50px;
}
.Logo {
    margin: 20px 20px 20px 170px;
    color:#111;
    align-items: center;
}
.Logo img {
    width: 300px;
}
.navContainer {
    margin: 60px 200px 60px 170px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    align-items: center;
}
#menunav{
    background: rgb(230, 16, 9);
    border-radius: 50px;
    width: 120px;
    height: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}
#aboutnav{
    margin-left: 100px;
    background: rgb(230, 16, 9);
    border-radius: 50px;
    width: 120px;
    height: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: ease-in-out 0.5s;
}
#menunav:hover{
    background:rgb(150, 12, 19);
}
#aboutnav:hover{
    background:rgb(150, 12, 19);
}

/* menu */
#menu{
    height: 75vh;
    width: 100%;
    overflow:hidden;
    background-color: rgb(202, 20, 13);
}
.cardContainer{
    margin-left: 40px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
.card {
    width: 200px;
    height: 250px;
    background: #f8f8fa; 
    border: 1px solid #eaeaea;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    overflow: hidden;
   }

.card:hover{
    box-shadow: 5px 5px 10px rgba(47, 47, 47, 0.37);
   }
.pic{
    height: 180px;
    overflow: hidden;
}
.name{
    font-family:'Times New Roman', Times, serif ;
}
.price{
    position: absolute;
    color: green;
    margin-left: 3px;
    margin-top: 5px;
}
.price2{
    position: absolute;
    color: green;
    margin-left: 3px;
    margin-top: 15px;
}

#bttcontainer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    align-items: center;
}
#back2Top{
        background: rgb(230, 16, 9);
        border-radius: 50px;
        width: 120px;
        height: 50px;
        color: white;
        font-size: 25px;
        font-weight: bold;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: ease-in-out 0.5s;
}
#back2Top:hover{
    background:rgb(150, 12, 19);
}


   /* footer */
footer {
  width: 100%;
}
.footerContainer{
    background-color: #111;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    padding: 10px;
    background-color: white;
    color: #111;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a:hover{
    background-color: #111;
    color: white;
    transition: 0.5s;
}
.address{
    display: flex;
    justify-content: center;
    color: #e7e7e7;
}
.copyright{
    color: white;
    background-color: black;
    text-align: center;
}


